
.heading{
    color:brown;
    font-size: larger;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: 800;
    text-align: center;
    margin-top: 20%;
}
.nav{
    
  color: lightseagreen;
  font-size: larger;
  font-weight: 500;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  display: inline-block;
  justify-content: center;
 left: 45%;
 position: relative;
 margin-top: 10px;
 cursor: pointer;

}
.nav:hover{
    text-decoration: underline;
    color: black;
}

