@tailwind base;
@tailwind components;
@tailwind utilities;


body{
  /* background: linear-gradient(to right, #0beb0b, #206b20); */
  background-color: #E0FFFF;
}
.link{
  margin: 19px;
  color: lightseagreen;
  font-size: larger;
  font-weight: 500;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  display: inline-block;
  justify-content: center;
  left: 38%;
  position: relative;
  word-spacing: 21px;
  letter-spacing: 2px;
}
.link:hover{
  text-decoration: underline;
  color: black;
}
